@custom-media --screen-laptop (max-width: 1440px);
@custom-media --screen-laptop-small (max-width: 1280px);
@custom-media --screen-table (max-width: 1024px);
@custom-media --screen-mobile (max-width: 767px);
@custom-media --screen-phone (max-width: 414px);